---
export interface Props {
  seq: string
  date: string
}

const {
  seq,
  date
} = Astro.props
---

					<!-- HEADER -->
          <table class="row row-1 hd-row1" align="center" width="100%">
            <tbody>
              <tr>
                <td>
                  <table class="row-content stack hd-row-content" align="center" width="800">
                    <tbody>
                      <tr>
                        <td class="column column-1 hd-column1 " width="100%">
                          <table class="image_block block-1 hd-image_block" width="100%" cellpadding="30"
                           >
                            <tr>
                              <td class="pad">
                                <div class="alignment hd-alignment" align="center">
                                  <div> <img src="https://www.aster.cat/images/carousel01-75.jpg" alt="imagen de aster"
                                      class="hd-image" width="740"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table class="paragraph_block block-2 hd-paragraph_block2" width="100%"
                            cellpadding="10">
                            <tr>
                              <td class="pad">
                                <div class="hd-div-paragraph">
                                  <h2 class="hd-p-paragraph">AsterPublicació {seq}</h2>
                                  <h3 class="hd-p-paragraph">{date}</h3>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <!-- End of HEADER -->