---
//import { news } from '../data/news'
//const response = await fetch("http://localhost:3000/news")

import Main2 from './Main2.astro';

//const news = await response.json() 
type News = {
  order: number;
  category: string;
  url: string;
  image: string;
  title: string;
  summary: string
}

type NewsGroupedBy = {
  category: string;
  news: News;
}
export interface Props {
  news: News[]
}

const { news } = Astro.props

const newsSorted = news.slice().sort(function(a, b) {
  return a.order - b.order;
})

const newsGruopedBy = newsSorted.reduce(function (acc, obj) {
    const keyValue = obj['category'];
    if (!acc[keyValue]) {
      acc[keyValue] = [];
    }
    acc[keyValue].push(obj);
    return acc;
  }, {});
  
---
 
  <!-- ARTICLE -->
  { 
    Object.keys(newsGruopedBy).map((category) => {
      return (

      
      <table class="row row-2" align="center" width="100%">
            <tbody>
              <tr>
                <td>
                  <table class="row-content stack .mn-row-content-headline" align="center" width="800">
                    <tbody>
                      <tr>
                        <td class="column column-1 mn-column1-headline">
                          <table class="heading_block block-1" width="100%" cellpadding="10"  >
                            <tr>
                              <td class="pad">
                                <h1 class="mn-main-headline">
                                  <span class="tinyMce-placeholder">{category}</span>
                                </h1>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <Main2 news={newsGruopedBy[category]} />
      )
    })
  
  }
  <!-- End of ARTICLE -->
 