---
//import { news } from '../data/news'
//const response = await fetch("http://localhost:3000/news")
//const news = await response.json() 
import Main31 from './Main31.astro';
import Main32 from './Main32.astro';
import Footer from './Footer.astro';

type News = {
  order: number;
  category: string;
  url: string;
  image: string;
  title: string;
  summary: string
}

type NewsGroupedBy = {
  category: string;
  news: News;
}
export interface Props {
  news: News[]
}
export interface Props {
  news: News[]
}

const  {news}  = Astro.props


---
   <!-- ARTICLE  CHAPTER -->
  {
    news.map ((_news) => {
			const {order, url, image, title, summary}  = _news 
      return (

    
          <table class="row row-4 mn-row4" align="center" width="100%">
            <tbody>
              <tr>
                <td>
                  <table class="row-content stack mn-row-content-divider" align="center" width="800">
                    <tbody>
                      <tr>
                        <td class="column column- mn-column1-divider1" width="100%">
                          <table class="divider_block block-1 mn-divider-block1" width="100%" cellpadding="10"  >
                            <tr>
                              <td class="pad">
                                <div class="alignment" align="center">
                                  <table    width="100%">
                                    <tr>
                                      <td class="divider_inner mn-divider-td"><span>&#8202;</span></td>
                                    </tr>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
					<Main31 news={_news}/>
					<Main32 news={_news}/>
     ) 
    })
  }
  <!-- End of ARTICLE CHAPTER-->
