---

---

<footer class="ft-typo">
  <section class="ft-section1">
    <img
      alt="Aster, Agrupació Astronòmica de Barcelona, declarada Entitat d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de Catalunya, número JUS/3230/2009 del 12/11/2009"
      src="https://www.aster.cat//images/codi-etic.jpg"
    />

    <p>
      Aster, Agrupació Astronómica de Barcelona, declarada Entitat
      d'utilitat pública segons resolució del Departament de Justícia de la
      Generalitat de Catalunya, número JUS/3230/2009 del 12/11/2009
    </p>
  </section>

  <section class="ft-section2">
    <div>
      <img
        alt=""
        src="https://imscdn.abcore.org/r/aster.cat/w46-h46/mm/image/web%20footer/LogoVU.jpg"
      />
    </div>
    <div>
      <p>Aster és membre de l'Associació d'Entitats Vil·la Urània</p>
    </div>
    <div>
      <img
        alt=""
        src="https://imscdn.abcore.org/r/aster.cat/w46-h46/mm/image/web%20footer/LogoVU.jpg"
      />
    </div>
  </section>

  <section class="ft-section3">
    <div>
      <img
        alt=""
        src="https://imscdn.abcore.org/r/aster.cat/w99-h103/mm/image/web%20footer/LOGO%20ASTER%20FUNDADA%20EL%201948.jpg"
      />
    </div>
    <div>
      <p>L'Ajuntament de Barcelona dóna suport a les nostres activitats</p>
    </div>
    <div>
      <img
        alt=""
        src="https://imscdn.abcore.org/r/aster.cat/w149-h50/mm/image/web%20footer/Ajuntament%20BCN.png"
      />
    </div>
  </section>
</footer>