---
import Category from "./Category.astro";

---
 <!-- FOOTER -->

 <Category category='' /> 
	<div width="800px">
		<table class="row row-10 ft1-row10 ft-paragrapf" align="center">
		<tbody>
			<tr>
				<td>
					<table class="row-content stack" align="center"  width="795">
						<tbody>
							<tr>
								<td class="column column-1 ft1-column1" width="100%">
									<table class="image_block block-1" width="100%">
										<tr>
											<td class="pad ft1-pad">
												<div class="alignment ft1-alignment" align="center">
													<div class="ft1-div-img"> 
														<img src="https://www.aster.cat//images/codi-etic.jpg" class="ft1-img" width="61"
															alt="Aster, Agrupació Astronòmica de Barcelona, declarada Entitat d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de Catalunya, número JUS/3230/2009 del 12/11/2009"
															title="Aster, Agrupació Astronòmica de Barcelona, declarada Entitat d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de Catalunya, número JUS/3230/2009 del 12/11/2009">
													</div>
													<div class="ft2-div-p">
														<p class="ft2-p pad ft2-pad">Aster, Agrupació Astronòmica de Barcelona, declarada Entitat
															d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de
															Catalunya, número JUS/3230/2009 del 12/11/2009</p>
													</div>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
	
	</div>
	<Category category='' /> 
	<!-- End of FOOTER -->

</body>

</html>