---
 
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link href="https://www.aster.cat/mm/image/favicon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASTER - Agrupació Astronòmica de Barcelona - Newsletter</title>
    <!-- Import the global CSS file -->
  </head>
  <body>
    <table class="nl-container bd-nl-container" width="100%">
      <tbody>
        <tr>
          <td>
            <slot />
          </td>
        </tr>
      </tbody>
    </table><!-- End -->


    </p>
  </body> 
</html>  